@import "../../components/TikiUI/common/style/userCom.less";
page {
	.b-c(#f8f8f8);
}
// 轮播图
.banner {
	// width: 100rpx;
	// .b-c(#222222);
    .b-c(#fff);
	swiper {
		.wh(750,385);
		margin: 0 auto;
	}
	swiper-item, image {
		.wh-a;
	}
}
// 项目简介
.project-desc {
    .b-c(#fff);
	// .b-c(#222222);
	.p(0, 33, 20, 33);
	border-bottom: 15rpx solid #ffffff;
	.project-name {
		.rel();
		.font(30, #373737);
        font-weight: 400;
		.l-h(56rpx);
	}
	.want {
		&-avatar {
            display: flex;
            justify-content: space-between;
            >view:first-of-type{
                display: flex;
            }
			.p-top(15);
			.p-bot(15);
			.f();
			.f-i-center();
			// .p-left(10);
			&-item {
				image {
					.wh(45, 45);
					.r(50%);
				}
				.m-right(8);
			}
		}
        .want-avatar-omit{
            width: 45rpx;
            height: 45rpx;
            border: 1rpx solid #a1a1a1;
            border-radius: 50%;
            text-align: center;
            margin-left: 10rpx;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 8rpx;
            box-sizing: border-box;
            text{
                width: 5rpx;
                height: 5rpx;
                display: inline-block;
                border-radius: 50%;
                background-color: #a1a1a1;
            }
        }
		&-num {
			font-size: 20rpx;
			color: #3f3f3f;
			.m-left(11);
            float: right;
			text {
				// color: #eebc84;
			}
		}
	}
	.project-price {
		.font(24, #373737);
		.l-h(57rpx);
	}
	.project-loac {
		.rel();
		.font(24, #373737);
		.m-top(8);
        display: flex;
        align-items: center;
		&-icon {
            display: inline-block;
			// .abs();
			// right: 0;
			// top: 0;
			// .p(10);
			.m-right(10);
			image {
				width: 20rpx;
			}
		}
	}
}
// 菜单按钮
.home-menu-warp {
    background: #f6f6f6;
	.rel();
	.bg {
		.wh(100%, 100%);
		.abs();
		top: 0;
		left: 0;
		image {
			.wh(100%, 100%);
		}
		z-index: -1;
	}
	.p(0, 90, 0, 90);
	.home-menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 214rpx;
		.f();
		.f-between();
		.menu-item {
			.f();
			.f-d-col();
			.f-i-center();
			.font(18, #ae905f);
			image {
				.wh(92, 92);
				.m-bot(18);
			}
            view{
                 font-size: 24rpx;
                 color: #3a3a3a;
            }
		}
	}
}
// 项目内容
.contant {
	& > view {
		.b-c(#ffffff);
		.p-left(38);
		.p-right(38);
	}
	.title {
		.p-left(0);
		.rel();
		.p-top(37rpx);
	}
	.p-bot(37);
	.introduce-pic {
		.wh(672, 308);
		// .m-top(29);
		.r(12);
		image {
			.wh-a;
		}
	}
	.introduce-txt {
		.font(20, #4c4c4c);
		.l-h(32rpx);
		.p(30, 0, 30, 0);
        text-indent: 2em;
	}
	.atlas-warp {
		.w(100%);
		// .m-top(30);
		.p-bot(45);
		.rel();
		swiper {
			.wh(690, 338);
			image {
				.wh(100%, 100%);
			}
		}
	}
	.hx-pic {
		.wh(670, 367);
		.m-top(48);
	}
	.index-hx {
		.f();
		.f-between();
		navigator {
			.w(333);
			.apartment-pic {
				.wh(333, 336);
				.rel();
				border: 1px solid rgba(206, 206, 206, 1);
				.r(16rpx);
                overflow: hidden;
				image {
					.wh(100%, 100%);
				}
			}
			.apartment-name {
				text-align: center;
				.font(18, #161616);
				.m-top(20);
				.m-bot(35);
			}
			
			
		}
		.apartment-tip {
			.wh(61, 28);
			.b-c(#b39867);
			.r(0, 0, 8, 0);
			.abs();
			.a-top(0);
			.a-left(0);
			.font(20, #ffffff);
			text-align: center;
			.l-h(28rpx);
		}
	}
}
.more-hx {
	// .pubbtn();
	.btnpub;
	.m-bot(69);
	.m-top(33);
}
#to-select {
	background: #987b46;
	position: fixed;
	bottom: 50rpx;
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	overflow: hidden;
	color: #ffffff;
	font-size: 26rpx;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
// .more{
//     background-color: rgba(240,243,248,1);
//     border-radius: 8rpx;
//     color: rgba(58,58,58,1) !important;
//     border: none;
//     line-height: 38rpx !important;
//     height: 38rpx !important;
//     padding: 0 10rpx;
// }
.title{
    padding-top: 60rpx !important;
    padding-bottom: 50rpx;
}