@import "../../components/TikiUI/common/style/userCom.less";
page {
	.b-c(#f7f7f7);
	.h(100%);
    padding-top: 25rpx;
    box-sizing: border-box;
}
.user-info {
	.b-bot(2, #cbcbcb, solid);
	.b-c(#3040B3);
	.f();
	.h(340);
    .w(700);
    margin: 0 auto;
	.f();
	.f-i-center();
    border-radius: 8rpx;
    overflow: hidden;
	view {
		text-align: left;
	}
	.avatar {
		image {
			.wh(97, 97);
			.r(50%);
			.m-left(33);
		}
	}
	.nick-name {
		.font(30, #ffffff);
		.m-left(20);
	}
}
.official-account{
    .w(700);
    margin: 0 auto;
    padding-top: 15rpx;
}
.main-warp {
	.p-top(19);
	.main-title {
		image {
			.wh(70, 70);
		}
		.f();
		.f-i-center();
		&-txt {
			.m-left(25);
		}
		
	}
	.main-item {
		.font(30, #626262);
		.f();
		.f-between();
		.wh(700, 142);
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 8rpx;
		.l-h(84rpx);
		.b-c(#ffffff);
		.p-left(23);
		.p-right(23);
		margin: 0 auto;
		.m-bot(15);
		.text {
			.h(84);
		}
	}
    .main-more{
        line-height: 156rpx;
        image{
            width: 30rpx;
            height: 30rpx;
        }
    }
	.to-login {
		.wh(308, 62);
		.b-c(#c0000e);
		.font(28, #ffffff);
		.p(0);
		.l-h(62rpx);
		.m-top(33rpx);
		letter-spacing: 10rpx;
        background:linear-gradient(180deg,rgba(51,148,255,1),rgba(0,104,231,1));
	}
}