.wh {
  width: 100%;
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-center {
  display: flex;
  align-items: center;
}
.br {
  border-radius: 50%;
  overflow: hidden;
}
.content-warp,
.index-bg,
.index-bg image {
  width: 100%;
  height: 100%;
}
.index-bg {
  position: fixed;
  top: 0;
  z-index: -1;
}
.line {
  width: 3rpx;
  height: 20rpx;
  background: #000000;
}
.title{
    margin-top: 20rpx;
    font-size: 30rpx;
    color: rgb(25, 25, 25);
    box-sizing: border-box;
    height: 30rpx;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
	padding-top: 31rpx;
	padding-bottom: 31rpx;
	padding-left: 33rpx;
}
.title::before {
	content: "";
	/* width: 4rpx;
	height: 32rpx; */
	border-radius: 3rpx;
	/* background: #dea567; */
	margin-right: 16rpx;
    width: 6rpx;
    border: 3rpx;
    height: 32rpx;
    background: linear-gradient(180deg,rgba(28,121,235,1),rgba(0,104,231,1));
}
.more {
	width: 96rpx;
	height: 24rpx !important;
	/* border: 1px solid #b39766; */
	font-size: 18rpx !important;
	/* color: #b39766 !important; */
	text-align: center;
	/* line-height: 24rpx !important; */
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
    background-color: rgba(240,243,248,1);
    border-radius: 8rpx;
    color: rgba(58,58,58,1) !important;
    border: none;
    line-height: 38rpx !important;
    height: 38rpx !important;
    padding: 0 10rpx;
}
.not{
    line-height: 300rpx;
    text-align: center;
    font-size: 32rpx;
    color: #ddd;
}