@import "../../components/TikiUI/common/style/userCom.less";
page {
	.b-c(#f6f6f6);
	.h(100%);
}
.title {
	.font(30, #525252);
	.m-bot(20);
}
.recommend-warp {
	width: auto;
	height: 800rpx;
	margin: 0 auto;
	padding: 0 67rpx;
	.font(26);
	color: #ffffff;
	// background: url("http://h5.kmguguan.com/Syx/fkt/img/recommend/bg.png");
	background-color: #fff;
	.recommend-item {
		.f();
		.f-i-center();
		.h(100);
		border-bottom: 1px solid rgba(149,149,149,0.21);
		view {
			.m-top(12);
		}
		.recommend-icon {
			image {
				.wh(32, 35);
			}
			.m-right(10);
			
		}
		.recommend-title {
			.w(115);
			text-align-last:justify; 
			text-align:justify;
			font-size: 24rpx;
			color: #626262;
		}
		.recommend-input {
			.m-left(5);
			.wh(447,48);
			text-align: center;
			color: #000;
			picker {
				.wh(100%, 100%);
			}
		}
		
	}
	
}
.recommend-btn {
		.font(36, #ffffff);
		margin: 0 auto;
		font-weight: bold;
		.l-h(72rpx);
		letter-spacing: 30rpx;
		.m-top(75);
		color: #ffffff;
		.p-left(15);
		width:271rpx;
		height:61rpx;
		background:linear-gradient(180deg,rgba(51,148,255,1),rgba(0,104,231,1));
		opacity:0.91;
		border-radius:8rpx;
		text-align: center;
		line-height: 61rpx;
		font-size: 30rpx;
		color: #F3F3F3;
	}