page,.container{
    height: 100%;
}
.header{
    background-color: #fff;
    height: 150rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box{
    width: 684rpx;
    height: 66rpx;
    background: rgba(238,238,238,1);
    border-radius:33px;
    display: flex;
    align-items: center;
    line-height: 66rpx;
}
.search{
    font-size: 20rpx;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50rpx;
    image{
        width: 30rpx;
        height: 30rpx;
        margin-right: 20rpx;
    }
    input{
        width: 620rpx;
    }
}
.content{
    height: calc(100% - 190rpx);
    margin-bottom: 20rpx;
    width: 100%;
}
.title1{
    line-height: 50rpx;
    font-size: 24rpx;
}
.location-box{
    padding: 0 30rpx;
    box-sizing: border-box;
    background-color: #F6F6F6;
    >view{
        display: flex;
        align-items: center;
        height: 90rpx;
    }
    image{
        width: 30rpx;
        height: 30rpx;
        margin-right: 15rpx;
    }
    .title1{
        display: inline-block;
        color: #656565;
        font-size: 24rpx;
    }
}
.btn{
    background: transparent;
    padding: 0;
    padding-left: 36rpx !important;
    padding-right: 36rpx !important;
    margin: 0;
    font-size: 26rpx;
    &.current{
        background: linear-gradient(180deg,rgba(51,148,255,1),rgba(0,104,231,1));
        border-radius: 8rpx;
        color: #fff;
    }
}
.hot-city{
    background-color: #F6F6F6;
    padding-top: 30rpx;
    padding-bottom: 50rpx;
    color: #656565;
    .title1{
        padding: 0 30rpx;
        line-height: 50rpx;
    }
}
.btn-box{
    padding-left: 30rpx;
    padding-top: 20rpx;
    padding-right: 10rpx;
    bottom: 20rpx;
    box-sizing: border-box;
    .btn{
        margin-top: 5rpx;
        margin-right: 10px;
        background-color: #fff;
        padding: 0 20rpx;
        display: inline-block;
        min-width: 150rpx;
        color: #656565;
    }
}
.city-list{
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 300rpx);
}
.uni-indexed-list__title-wrapper{
    background-color: #ddd !important;
}
.uni-indexed-list__menu{
    background-color: transparent !important;
}
.indexes{
    background-color: #F5F5F5;
    line-height: 95rpx;
    line-height: 95rpx;
    width: 100%;
    padding: 0 40rpx;
}
.city-item{
    line-height: 95rpx;
    border-bottom: 1rpx solid #f1f1f1;
    padding: 0 40rpx;
}
.indexBox{
    position: fixed;
    top: 180rpx;
    right: 0;
    width: 70rpx;
    height: calc(100% - 190rpx);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.index-item{
    width: 70rpx;
    max-height: 40rpx;
    text-align: center;
    font-size: 20rpx;
    color: #333;
    flex: 1;
}